<h1><a href="/">Movie Review🍿</a></h1>
<hr>
<form action="/movies/create" method="post">
    {% csrf_token %}
    <div>제목: <input type="text" name="title" placeholder="영화 제목"></div>
    <br>
    <div>감독: <input type="text" name="director" placeholder="감독 이름"></div>
    <br>
    <div>개봉년도: <input type="text" name="released" placeholder="개봉 년도"></div>
    <br>
    <div>주연: <input type="text" name="cast" placeholder="주연 배우"></div>
    <br>
    <div>장르: <input type="text" name="genre" placeholder="장르"></div>
    <br>
    <div>별점: <input type="text" name="star" placeholder="별점"></div>
    <br>
    <div>런타임: <input type="text" name="runtime" placeholder="런타임"></div>
    <br>
    <div>리뷰: <textarea name="review" placeholder="리뷰"></textarea></div>
    <br>
    <div>
        <input type="submit" value="저장하기">
    </div>
</form>